h1 {
  color: blue;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 100px;
}

.p1-board-div,
.p2-board-div {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border-right-style: solid;
  border-bottom-style: solid;
}

.p1-board-cell,
.p2-board-cell {
  height: 50px;
  width: 50px;
  border-top-style: solid;
  border-left-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hit-marker {
  background-color: #a0522d;
  border-radius: 50%;
  height: 70%;
  width: 70%;
}

.miss-marker {
  background-color: grey;
  border-radius: 50%;
  height: 70%;
  width: 70%;
}
