h1 {
  color: blue;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.board-div {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border-right-style: solid;
  border-bottom-style: solid;
}

.board-cell {
  height: 50px;
  width: 50px;
  border-top-style: solid;
  border-left-style: solid;
}
